$fa-font-path: "./assets/fonts/font-awesome-4.7.0/fonts"; //must incl this to resolve fonts
@import "./assets/fonts/font-awesome-4.7.0/scss/font-awesome.scss";

/*GLOBAL STYLES*/
@font-face{
  font-family: 'nunito_sans';
  src: url("assets/fonts/nunitosans-regular-webfont.woff2") format("woff2"), url("assets/fonts/nunitosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}
@font-face{
  font-family: 'nunito_sans';
  src: url("assets/fonts/nunitosans-italic-webfont.woff2") format("woff2"), url("assets/fonts/nunitosans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic
}
@font-face{
  font-family: 'nunito_sans';
  src: url("assets/fonts/nunitosans-bold-webfont.woff2") format("woff2"),url("assets/fonts/nunitosans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face{
  font-family: 'stratum';
  src: url("assets/fonts/stratum1-bold-webfont.woff2") format("woff2"), url("assets/fonts/stratum1-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face{
  font-family: 'stratum';
  src: url("assets/fonts/stratum1-medium-webfont.woff2") format("woff2"), url("assets/fonts/stratum1-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal
}
@font-face{
  font-family: 'stratum';
  src: url("assets/fonts/stratum1-regular-webfont.woff2") format("woff2"), url("assets/fonts/stratum1-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family:'nunito_sans', sans-serif;
  color: #fff;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /* must be in root for rem units */
}

body,
input,
button,
select,
textarea {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  /*overflow: hidden;*/
  /*overflow-y: auto;*/
}

body:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  content: '';
  background: #1A1F21;
  z-index: -1;
}

header{

}

main{
  margin-top:65px;
  width: 100%;
  font-size: 1.5rem;
}

footer{
  overflow: hidden;
}

a, .a{
  color: inherit;
  transition: all .4s ease-out;
  text-decoration: none;
}

a:hover, .a:hover, a.visited{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
a:focus{
  color: #fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1{
  font-size: 4.2rem;
  letter-spacing: 3px;
  margin: 0 0 15px 0;
}

h2{
  font-size: 3.0rem;
  letter-spacing: 2px;
  line-height: 1.333;
  margin: 0 0 5px 0;
}

h3{
  font-size: 2.4rem;
  letter-spacing: 3px;
  line-height: 1.85;
  margin:0;
}

h4{
  font-size: 2.0rem;
  letter-spacing: 3px;
  line-height: 1.85;
  margin:0;
}

h5{
  font-size: 1.7rem;
  letter-spacing: 3px;
  line-height: 1.85;
  margin:0;
}

h6{
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 2;
  margin:0;
}
p{
  margin: 0 0 10px;
}

dl {

}

dt {
  float: left;
  clear: left;
  width: 44%;
  text-align: left;
  font-weight: bold;
  margin-right:5px;
  line-height: 1.42857143;
}

dt::after {
  /*content: ":";*/
}

dd {
  /*margin: 0 0 0 110px;*/
  /*padding: 0 0 0.5em 0;*/
  //color: #828585;
  line-height: 1.42857143;
}

dl.wide dt{
  width: auto;
  margin-right:5px;
}


/*CONTAINER STYLES*/
/*app container*/
#app{
  display: flex;
  flex-direction: column;
}

/*site nav*/
.site-header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  height: 65px;
  background: #1A1F21;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height .4s ease-out;


  a:not(:last-child){
    margin-right: 29px;
  }

}

/*.site-header a{*/
/*font-family: 'stratum', arial, sans-serif;*/
/*letter-spacing: 3px;*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*display: inline-block;*/
/*}*/

//.site-header a:not(:last-child){
//  margin-right: 29px;
//}

/*.site-navigation{*/
/*text-align: center;*/
/*padding: 40px 0*/
/*}*/

.site-navigation a{
  display: inline-block;
  font-family: "stratum", "Arial Narrow", "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding: 5px
}

.site-navigation a:hover{
  opacity: 1;
}

@media (min-width: 850px){
  .site-navigation a{
    font-size: 1.2rem
  }
}

@media (min-width: 1025px){
  .site-navigation a{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 5px 5px 6px
  }
}



.site-navigation a:after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  background: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .4s ease-out;
}

.site-navigation li.is-active a:after,
.site-navigation a.is-active:after,
.site-navigation a:hover:after{
  transform: scaleX(1);
}

@media (max-width: 849px){
  .site-navigation{
    position: fixed;
    bottom: 40px;
    right: 3%;
    transform: scale(0);
    z-index: 12;
  }
  .site-navigation li{
    opacity: 0;
    display: block;
    transform: translate3d(4px, 0px, 0);
    transition: all .3s ease;
    text-align: left;
  }
  .site-navigation li+li{
    margin-top: 10px;
  }
  .site-navigation a{
    text-decoration: none;
    padding: 4px 8px;
    color: white;
  }
}

@media (min-width: 850px){
  .site-navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  .site-navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 445px;
  }
  .site-navigation ul li{
    flex-grow: 1;
  }
}

@media (min-width: 850px){
  .site-navigation{
    justify-content: center;
  }
}

@media (min-width: 1025px){
  .site-navigation ul{
    max-width: 640px;
  }
}

.logo{
  margin-left: 20px;
  width: 142px;
}

.logo img{
  width: 70px;
  vertical-align: middle;
}

.watch{
  margin-right: 20px;
  width: 142px;
  text-align: right;
  font-size: 4.5rem;
}

.site-footer{
  font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 2;
}

.site-footer li{
  list-style: none;
}

/*footer*/
footer .galaxy{
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 70px 0px;

}
.footer-bar{
  height: 80px;
  background: #1A1F21;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

/*page section types*/
.galaxy{
  position: relative;
  background-color: #22292C; /* remove to go back to bg-black */
  overflow: hidden;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vert */
  align-items: center; /* horiz */
}
.galaxy-content{
  /*position:absolute;*/
  /*top:0px;*/
  /*left:0px;*/
  /*z-index: 3;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizon{
  height: calc(100vh - 65px);
  position: relative;
  overflow: hidden;
}

.horizon-content{

}

.space, .infinite{
  background-color:#1A1F21;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  padding: 30px;
}

.space>*, .infinite>div, .galaxy>section{
  background: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
  padding: 45px 25px;
  border-radius: 6px;
  position: relative;
  min-width: 310px;
  width: 30%;
  margin-bottom: 30px;
  /*overflow-y: auto;*/
}

.space>*:after, .infinite>div:after, .galaxy>section:after{
  content: '';
  display: block;
  position: absolute;
  border-radius: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  top: 4px;
  left: 4px;
  background: #22292C;
  z-index: -1;
}

.infinite {
  background-color: #22292C;
  flex-wrap: wrap;
}

.infinite h3{
  width: 100%;
  text-align: center;
  padding: 0px 0px 30px 0px;
}


/*animations*/
[data-animate-in]{
  opacity: 0;
}
[data-animate-in="fadein"]{
  animation-duration: 1s;
  animation-name: fadein;
  -webkit-transition:  transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

[data-animate-in="intro"]{
  animation-duration: 1s;
  animation-name: slidein;
  -webkit-transition:  opacity 0.8s ease;
  transition: opacity 0.3s ease;
}

@keyframes slidein{
  from{
    /*margin-left: 100%;*/
    /*width: 300%;*/
    opacity: 0;
    transform: translate(0px,20px);
  }

  to{
    /*margin-left: 0%;*/
    /*width: 100%;*/
    opacity: 1;
    /*transform: rotate(1.0turn);*/
    transform: translate(none);
  }
}

@keyframes fadein{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

[data-animate-in].in-view{
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.6s ease, opacity 0.6s ease;

}


/*CONTENT STYLES*/
.landing .galaxy{
  min-height: calc(100vh - 365px);
}

.landing .infinite img {
  float:left;
  width: 210px;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid #313030;
}

.landing .infinite p{
  color: #828585;
  font-size: 1.4rem;
  line-height: 1.3em;
}

.about .horizon, .portfolio .horizon{
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .galaxy, .portfolio .galaxy {
  padding: 60px 30px;
}

.about .infinite dd{
    /*margin: 0 0 0 110px;*/
    /*padding: 0 0 0.5em 0;*/
    color: #828585;
}

.about .galaxy{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.about .galaxy > section{
  width: 80%;
  padding-left: 47px;
  padding-right: 47px;
}

.about .galaxy > section > h3 {
  margin-bottom: 14px;
}

.about .galaxy > section > p{
  font-family: "nunito_sans",serif;
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 20px;
}



.bio .horizon{
  height:auto;
}

.portfolio .galaxy{
  /*background-color:#1a1f21;*/
}

.portfolio nav{
  background: #22292C;
  width: 100%;

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    padding: 20px;
    margin: 0px;
  }

  li{
    list-style-type: none;
    width: 25%;
    height: 60px;
    max-width: 260px;
    text-align: center;
    cursor: pointer;

    /*background: #F37055;*/
    border-radius: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }

  li:last-child{
    width: 100px;
  }
  li:hover:not(:last-child){
    /*display: block;*/
    /*width: calc(100% - 8px);*/
    /*height: calc(100% - 8px);*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate3d(-50%, -50%, 0);*/
    //border-radius: 6px;
    /*z-index: -1;*/
    /*transition: all .4s ease-out;*/
    /*opacity: 0;*/
  }
  li:hover:nth-child(1), li.indie{
    background: #F37055;
  }
  li:hover:nth-child(2), li.corpo{
    background: #EF4E7B;
  }
  li:hover:nth-child(3), li.agency{
    background: #13a793;
  }
  li:hover:nth-child(4), li.node{
    background: #A166AB;
  }
}


.portfolio .galaxy .grid-container{
  display: grid;
  grid-template-columns: 140px minmax(300px,1fr) minmax(300px,1fr) minmax(300px,1fr);
  grid-gap: 1px;
  /*background: #22292C;*/
  width: 100%;
  /*max-width: 1065px;*/
  padding: 1px 0px 0px 0px;
  opacity:1;
}

.portfolio .galaxy .grid-container > div{
  background: #1a1d21;
  padding: 30px 40px;

  i.fa.fa-external-link {
    margin-left: 5px;
  }
}
.portfolio .galaxy .grid-container > div > img:first-child,
.portfolio .galaxy .grid-container > div > a:first-child{
  margin: 0 auto 17px auto;
  display: block;
  text-align: center;
}
.portfolio .galaxy .grid-container > .menu {

}

.portfolio .galaxy .grid-container > .nav {
  grid-column: auto / span 4;
  padding: 0px;
}

.portfolio .galaxy .grid-container > .header {
  grid-column: auto / span 4;
  text-align: center;
  height: 100px;
  padding: 27px;
}

.portfolio .galaxy .grid-container > .sub-header {
  grid-column: auto / span 3;
  text-align: center;
  /*height: 65px;*/
  color: #696B6B;
  /*padding: 18px 0px 20px 0px;*/
}

.portfolio .galaxy .grid-container > .row-span {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

//.portfolio .galaxy .grid-container:not(first-child) p{
//  font-size: 1.3rem;
//  color: #a2a2a2;
//  line-height: 1.3;
//}


/*BEGIN GITHUB UNIVERSE STYLES*/
/*BACKGROUND + STARS*/
.bg-orange,
.bg-purple,
.bg-blue,
.bg-orange-pink,
.bg-pink-purple,
.bg-purple-blue,
.bg-green-teal,
.bg-teal,
.tabs-bg>*{
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  opacity: 0;
  transition: opacity 4s ease;
  z-index: -2;
}

.bg-orange.is-active,
.bg-purple.is-active,
.bg-blue.is-active,
.bg-orange-pink.is-active,
.bg-pink-purple.is-active,
.bg-purple-blue.is-active,
.bg-green-teal.is-active,
.bg-teal.is-active,
.tabs-bg>*.is-active{
  opacity: 1;
}
.bg-orange{
  background: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);
}
.bg-purple{
  background: linear-gradient(135deg, #A166AB 0%, #5073B8 100%);
}
.bg-blue{
  background: linear-gradient(135deg, #5073B8 0%, #13a793 36%, #07B39B 81%, #6DBA82 100%);
}
.bg-orange-pink{
  background-image: linear-gradient(-135deg, #EF4E7B 0%, #F37055 51%, #F79533 100%);
}
.bg-pink-purple{
  background-image: linear-gradient(-135deg, #A166AB 0%, #EF4E7B 100%);
}
.bg-purple-blue{
  background-image: linear-gradient(-135deg, #1098AD 0%, #5073B8 100%);
}
.bg-green-teal{
  background-image: linear-gradient(-135deg, #07B39B 0%, #1098AD 100%);
}
.bg-teal{
  background-image: linear-gradient(-135deg, #6DBA82 0%, #07B39B 100%);
}
.bg-black{
  background-color: #22292C;
  width: 100%;
  height: 100%;
  /*min-height: 1100px;*/
  /*display: block;*/
  /*top: 0px;*/
  /*left: 0px;*/
  /*bottom: 0;*/
  /*right: 0;*/
  opacity:1;
  transition: opacity 4s ease;
  z-index: -1;
  position: absolute;
}

main .bg-black{
  min-height: 1100px;
}

footer .bg-black{
  height: 300px;
  min-height:300px;
}

@keyframes rotate360{
  to{
    transform: rotateZ(360deg);
  }
}
@keyframes pulse{
  0%{
    opacity: 0.2;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 0.2;
  }
}

.stars,
.stars-lg{
  position: absolute;
  z-index: -1; /* -1 */
  opacity: 0.3;
  width: 2000px;
  min-height: 2000px;
  height: 100%;
  left: calc(50% - 1000px);
  top: 0;
  transform-origin: center;
  background: url("assets/img/stars-sm.svg") center/800px auto repeat;
  animation: 1000s rotate360 infinite linear;
}
.stars-lg{
  opacity: 0.2;
  background: url("assets/img/stars-lg.svg") center/1100px auto repeat;
  animation: 10s pulse infinite linear;
}
@keyframes shooting-star{
  0%{
    opacity: 1;
    transform: scale(0) translate3d(0, 0, 0);
  }
  15%{
    opacity: 1;
  }
  25%{
    opacity: 0;
    transform: scale(1) translate3d(180px, 0, 0);
  }
  100%{
    opacity: 0;
    transform: scale(0) translate3d(180px, 0, 0);
  }
}
.shooting-star{
  position: absolute;
  left: 10%;
  top: 10%;
  transform: rotate(30deg);
  pointer-events: none;
}
.shooting-star img{
  opacity: 0;
  animation-delay: 0;
  animation: shooting-star 6s infinite ease-out;
}
.shooting-star-right{
  position: absolute;
  left: 80%;
  top: 80%;
  width: 130px;
  transform: rotate(-235deg);
  pointer-events: none;
}
.shooting-star-right img{
  opacity: 0;
  animation: shooting-star 6s 3s infinite ease-out;
  animation-delay: 2.5s;
}
/*END GITHUB UNIVERSE STYLES*/

















/*MDN Test*/
/*div.main{*/
/*width: 100px;*/
/*height: 100px;*/
/*background: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);*/
/*position:relative;*/

/*!*-webkit-animation-name: example; !* Safari 4.0 - 8.0 *!*!*/
/*!*-webkit-animation-duration: 4s; !* Safari 4.0 - 8.0 *!*!*/
/*!*animation-name: example;*!*/
/*!*animation-duration: 4s;*!*/

/*-webkit-animation: example 5s infinite; !* Safari 4+ *!*/
/*-moz-animation:    example 5s infinite; !* Fx 5+ *!*/
/*-o-animation:      example 5s infinite; !* Opera 12+ *!*/
/*animation:         example 5s infinite; !* IE 10+, Fx 29+ *!*/
/*}*/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example{
  from{background-color: red;}
  to{background-color: yellow;}
}

/* Standard syntax */
@keyframes example{
  0%{
    opacity: 0.2;
    background: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);
  }
  50%{
    opacity: 0.6;
    background: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);
  }
  100%{
    opacity: 0.2;
    background: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);
  }
}


/* vietnamese */
/*@font-face{*/
/*font-family: 'Nunito Sans';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/iJ4p9wO0GDKJ-D5teKuZqtDiNsR5a-9Oe_Ivpu8XWlY.woff2) format('woff2');*/
/*unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face{*/
/*font-family: 'Nunito Sans';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/iJ4p9wO0GDKJ-D5teKuZqqE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');*/
/*unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face{*/
/*font-family: 'Nunito Sans';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/iJ4p9wO0GDKJ-D5teKuZqogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');*/
/*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;*/
/*}*/